
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(155, 73, 248);
    display: flex;
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.board{
    width: 720px;
    height: calc(630+ 50) px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

h1{
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color: yellow;
}
.card{
    width: 170px;
    height: 200px;
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 5px;
    
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-card, .back-card {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-card{
    background: white;
    border: 1px solid red;
    transform: rotateY(180deg);
}

.card.flip{
    transform: rotateY(180deg);
}

.endgame{
    display: none;
    position: absolute;
    width: 200px;
    top: 120px;
    left: 50%;
    color: white;
    font-size: 2em;
    margin-left: -100px;
    background-color: black;
    text-align: center;
}

.replay{
    width:80px;
    height: 20px;
    position: absolute;
    top: 750px;
    left: 50%;
    margin: 0px 0 10px -50px;
    color: white;
    font-size: 14px;
    background-color: black;
    text-align: center;
}